<div class="clear"></div>
<div class="copyright text-center mt-5">
  <p> &copy; 2017-2019 <a href="http://simplifyjs.com" target="_blank" >Simplify JS</a>. All rights reserved | Design by Ann G.</p>
</div>	
  <script src="/js/script.js"></script>
</body>
</html>